In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from datetime import datetime
plt.rcParams['axes.grid'] = True
plt.rcParams['grid.alpha'] = 0.3
plt.rcParams['axes.titlesize'] = 18

In [3]:
df = pd.read_csv('8e6df-041120223.txt', delimiter="|", 
                  names=['slot', 'received_at', 'eligible_at', 'optimistic', 'decode_duration',
                         'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration', 'sim_success'])
df['received_at'] = pd.to_datetime(df['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
df['eligible_at'] = pd.to_datetime(df['eligible_at'], format="%Y-%m-%d%H:%M:%S.%f")
df.head()

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration,sim_success
0,6192331,2023-04-10 13:06:35.588040,2023-04-10 13:06:36.595905,f,291617,101258,606465,8524,1007865,t
1,6192331,2023-04-10 13:06:37.314005,2023-04-10 13:06:37.501121,f,33875,2542,134042,16655,187115,t
2,6192331,2023-04-10 13:06:35.390715,2023-04-10 13:06:36.613259,f,119233,117845,662018,323447,1222544,t
3,6192331,2023-04-10 13:06:35.497595,2023-04-10 13:06:36.624056,f,201524,39629,685551,199754,1126460,t
4,6192331,2023-04-10 13:06:36.180661,2023-04-10 13:06:36.996642,f,47830,156078,603994,8077,815981,t

In [4]:
len(df)

10000

In [11]:
df[df['sim_success']=='t']

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration,sim_success
0,6192331,2023-04-10 13:06:35.588040,2023-04-10 13:06:36.595905,f,291617,101258,606465,8524,1007865,t
1,6192331,2023-04-10 13:06:37.314005,2023-04-10 13:06:37.501121,f,33875,2542,134042,16655,187115,t
2,6192331,2023-04-10 13:06:35.390715,2023-04-10 13:06:36.613259,f,119233,117845,662018,323447,1222544,t
3,6192331,2023-04-10 13:06:35.497595,2023-04-10 13:06:36.624056,f,201524,39629,685551,199754,1126460,t
4,6192331,2023-04-10 13:06:36.180661,2023-04-10 13:06:36.996642,f,47830,156078,603994,8077,815981,t
...,...,...,...,...,...,...,...,...,...,...
9995,6193669,2023-04-10 17:34:12.243483,2023-04-10 17:34:12.349549,f,776,2232,98715,4341,106065,t
9996,6193669,2023-04-10 17:34:12.301688,2023-04-10 17:34:12.412213,f,810,1877,102683,5153,110524,t
9997,6193671,2023-04-10 17:34:33.715633,2023-04-10 17:34:33.759455,f,2279,3482,30091,7968,43821,t
9998,6193671,2023-04-10 17:34:37.018219,2023-04-10 17:34:37.073409,f,2987,2265,46290,3646,55189,t
9999,6193671,2023-04-10 17:34:33.473186,2023-04-10 17:34:33.535530,f,2794,5320,50304,3924,62343,t

In [6]:
printdf(df)

decode\_duration & 9541 & 23716 & 51879 & 416615 \\
prechecks\_duration & 2824 & 5175 & 36735 & 938496 \\
simulation\_duration & 120353 & 173512 & 316912 & 854152 \\
redis\_update\_duration & 8839 & 20833 & 225588 & 3287866 \\
\hline
\textbf{total\_duration} & \textbf{156092} & \textbf{264526} & \textbf{706784} & \textbf{4674694} \\

In [5]:
def printdf(df):
    print('decode\_duration & ', end='')
    st = ''
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['decode_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('prechecks\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['prechecks_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('simulation\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['simulation_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('redis\_update\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['redis_update_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('\\hline')
    print('\\textbf{total\_duration} & ', end='')
    for i in [50, 75, 90, 99]:
        st += '\\textbf{{{}}}'.format(str(int(np.percentile(df['total_duration'], i))))
        st += " & "
    print(st[:-3] + ' \\\\')

In [24]:
df = pd.read_csv('83d-apr24.txt', delimiter="|", 
                  names=['decode_duration', 'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration'])
df = df[df['simulation_duration'] < 100]
df.head()

,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,9884,2572,14,10278,22750
1,10561,12022,14,35206,57804
2,13007,2933,5,14162,30108
3,9402,2294,15,12762,24475
4,16439,3223,5,14482,34150

In [25]:
len(df)

49605

In [26]:
printdf(df)

decode\_duration & 11419 & 30837 & 158916 & 1392212 \\
prechecks\_duration & 3038 & 7957 & 125606 & 804929 \\
simulation\_duration & 10 & 12 & 15 & 38 \\
redis\_update\_duration & 10769 & 27886 & 362567 & 2289781 \\
\hline
\textbf{total\_duration} & \textbf{24809} & \textbf{60313} & \textbf{599681} & \textbf{3706449} \\